In [1]:
# Read The Data From kaggle Website
# Source  ------------------------->>>>      https://www.kaggle.com/c/m5-forecasting-accuracy/data
#!wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-competitions-data/kaggle-v2/18599/1236839/bundle/archive.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1614245660&Signature=n2Z%2FaSZaOvemydUiRc0rJDJI77HrrQ3Dgj8u8AJkTN%2BQhLFVWTSZLwUIQAvZJOmsUHOqNBiKv2G6IQTo8AbMf4SVIXNfhA2UQoh7pb9bg6PS83ckcvREHeIqyZ9SVeO2P7Q2S%2FucjEHMxWe5mF2yEWEnSeNQxWc%2B0wRMtZJhlNn0lCHJZIeIrVZ9Hi0EeOe5JiUh4aG%2F%2BezmY4a8NKxHVaKGGVRIUbv2UyRbwn9rbLLvDDx%2F1RYRVnYOFuLvFUqs93eOegfXOpKAklt9qYJKsrtXrcM1ruXFAv3xf8YUulxgqJZY1kKHdjuPp%2FXrgApmLyT56rnjqLB8K3urB164aA%3D%3D&response-content-disposition=attachment%3B+filename%3Dm5-forecasting-accuracy.zip" -c -O 'm5-forecasting-accuracy.zip'

In [2]:
# Read The Price Preprocessed Data   <<<---  Price_Data_Preprocessing_1.pkl   --->>> 

#!wget --header="Host: doc-04-0c-docs.googleusercontent.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Cookie: AUTH_g6rouv7anedfrrf7ue0ns472lo11dqgi_nonce=hbkot1o9p3ahg" --header="Connection: keep-alive" "https://doc-04-0c-docs.googleusercontent.com/docs/securesc/pblgkejb48lv4je87rr0ale25k6q65pa/lajlp2us8kt03km4kns8lhavqr8d7i0k/1613987025000/03254098180734767806/03254098180734767806/17Xo_XLPIzSMCsTZrnD0EV35WhhSKMN4Q?e=download&authuser=0&nonce=hbkot1o9p3ahg&user=03254098180734767806&hash=61lk600kec8aaefpdikk6rbi6pvsduhc" -c -O 'Price_Data_Preprocessing_1.pkl'

In [1]:
# Read The Calander Data   <<<---  Calander_Data_Preprocessing_2.pkl   --->>> 

#!wget --header="Host: doc-08-0c-docs.googleusercontent.com" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-US,en;q=0.9,hi;q=0.8" --header="Cookie: AUTH_g6rouv7anedfrrf7ue0ns472lo11dqgi_nonce=jd2o9ci54chkm" --header="Connection: keep-alive" "https://doc-08-0c-docs.googleusercontent.com/docs/securesc/pblgkejb48lv4je87rr0ale25k6q65pa/k1qgt50m87c3glkitb5n5su0u7didm3a/1613987400000/03254098180734767806/03254098180734767806/1-2VwJkVil5kMauS5DrGZh5JnocAtD_Z9?e=download&authuser=0&nonce=jd2o9ci54chkm&user=03254098180734767806&hash=s7024adgd9pc9opj1ron1d65k7phqptk" -c -O 'Calander_Data_Preprocessing_2.pkl'

In [4]:
#import All The Library

import pandas as pd
import numpy as np

### Part- A. Read The Data

 <font color='Orange'>**A_1. Read Price Data**

In [5]:
Price = pd.read_pickle("Price_Data_Preprocessing_1.pkl")
Price.head()

       store_id      item_id  ...  price_diffrence_4  price_diffrence_8
368746     CA_1  FOODS_1_001  ...                NaN                NaN
368747     CA_1  FOODS_1_001  ...                NaN                NaN
368748     CA_1  FOODS_1_001  ...                NaN                NaN
368749     CA_1  FOODS_1_001  ...                0.0                NaN
368750     CA_1  FOODS_1_001  ...                0.0                NaN

[5 rows x 7 columns]

In [6]:
Price.shape

(6841121, 7)

 <font color='Orange'>**A_2. Read Calander Data**

In [7]:
cal = pd.read_pickle("Calander_Data_Preprocessing_2.pkl")
cal.head()

         date  wm_yr_wk    weekday  ...  event_name_2_OrthodoxEaster  Event_1  Event_2
0  2011-01-29     11101   Saturday  ...                          0.0      NaN      NaN
1  2011-01-30     11101     Sunday  ...                          0.0      NaN      NaN
2  2011-01-31     11101     Monday  ...                          0.0      NaN      NaN
3  2011-02-01     11101    Tuesday  ...                          0.0      NaN      NaN
4  2011-02-02     11101  Wednesday  ...                          0.0      NaN      NaN

[5 rows x 26 columns]

In [8]:
# Devide Each Months Into Six Groups To Caputre Seasonality if it's There

dict_day_to_group = {
    1:1, 2:1, 3:1, 4:1, 5:1,
    6:2, 7:2, 8:2, 9:2, 10:2,
    11:3, 12:3, 13:3, 14:3, 15:3,
    16:4, 17:4, 18:4, 19:4, 20:4,
    21:5, 22:5, 23:5, 24:5, 25:5,
    26:6, 27:6, 28:6, 29:6, 30:6, 31:6  
}

cal['group_day'] = cal['date'].str[-2:].apply(int).map(dict_day_to_group)

In [9]:
cal.shape

(1969, 27)

 <font color='Orange'>**A_3. Read Sales Data**

In [10]:
# Unzip the Data

#!unzip m5-forecasting-accuracy.zip

In [11]:
# Beacuse of Memory Constarint i am Skipping First 1049 Days of Sales

first_day = 1050                # Training Days   -- 1050 to 1913 Days      (865 Days)
last_day = 1941                 # Validation Days -- 1914 to 1941 Days      (28 Days)
                                # Test Days      --  1942 to 1969 Days      (28 Days)

In [12]:
# Numerical Columns

numcols = [f"d_{day}" for day in range(first_day,last_day+1)]
print("First 5 Days ",numcols[0:5])
print("Last 5 Days ",numcols[-5:])

First 5 Days  ['d_1050', 'd_1051', 'd_1052', 'd_1053', 'd_1054']
Last 5 Days  ['d_1937', 'd_1938', 'd_1939', 'd_1940', 'd_1941']

In [13]:
# Categorical Columns

catcols = ['id', 'item_id', 'dept_id','store_id', 'cat_id', 'state_id']

In [14]:
# data Types

dtype = {numcol:"float32" for numcol in numcols} 
dtype.update({col: "category" for col in catcols if col != "id"})

In [15]:
# Read The Sales data

sales = pd.read_csv("sales_train_evaluation.csv", usecols = catcols + numcols, dtype = dtype)
sales.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...    0.0    1.0
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...    0.0    0.0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...    0.0    1.0
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...    2.0    6.0
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...    1.0    0.0

[5 rows x 898 columns]

In [16]:
sales.shape

(30490, 898)

In [17]:
# Add Test Data

for day in range(1942,1970):
  sales['d_' + str(day)] = np.nan

In [18]:
sales.head()

                              id        item_id  ... d_1968 d_1969
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...    NaN    NaN
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...    NaN    NaN
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...    NaN    NaN
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...    NaN    NaN
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...    NaN    NaN

[5 rows x 926 columns]

### Part- B. Downcast The Data

 <font color='Voilet'>**B_1. Downcasting the Data**

In [19]:
#https://www.kaggle.com/anshuls235/time-series-forecasting-eda-fe-modelling/notebook#2.-Downcasting

def downcast(df):

    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()

    for i,t in enumerate(types):

        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)

        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)

        elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')

    return df

In [20]:
Price = downcast(Price)
cal = downcast(cal)
sales = downcast(sales)

### Part- C. Label Encoding

 <font color='Brown'>**C_1. Sales DataFrame Label Encoding**

In [21]:
sales.head()

                              id        item_id  ... d_1968 d_1969
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...    NaN    NaN
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...    NaN    NaN
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...    NaN    NaN
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...    NaN    NaN
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...    NaN    NaN

[5 rows x 926 columns]

In [22]:
# Using label Encoding

for col in catcols:
    if col != "id":
        sales[col] = sales[col].cat.codes.astype("int16")
        sales[col] -= sales[col].min()

In [23]:
sales.tail()

                                id  item_id  dept_id  ...  d_1967  d_1968  d_1969
30485  FOODS_3_823_WI_3_evaluation     3044        6  ...     NaN     NaN     NaN
30486  FOODS_3_824_WI_3_evaluation     3045        6  ...     NaN     NaN     NaN
30487  FOODS_3_825_WI_3_evaluation     3046        6  ...     NaN     NaN     NaN
30488  FOODS_3_826_WI_3_evaluation     3047        6  ...     NaN     NaN     NaN
30489  FOODS_3_827_WI_3_evaluation     3048        6  ...     NaN     NaN     NaN

[5 rows x 926 columns]

 <font color='Brown'>**C_2. Calander DataFrame Label Encoding**

In [24]:
cal.tail()

           date  wm_yr_wk    weekday  ...       Event_1       Event_2  group_day
1964 2016-06-15     11620  Wednesday  ...           NaN           NaN          3
1965 2016-06-16     11620   Thursday  ...           NaN           NaN          4
1966 2016-06-17     11620     Friday  ...           NaN           NaN          4
1967 2016-06-18     11621   Saturday  ...           NaN           NaN          4
1968 2016-06-19     11621     Sunday  ...  NBAFinalsEnd  Father's day          4

[5 rows x 27 columns]

In [25]:
cal.dtypes

date                           datetime64[ns]
wm_yr_wk                                int16
weekday                              category
wday                                     int8
month                                    int8
year                                    int16
d                                    category
event_type_1                         category
event_type_2                         category
snap_CA                                  int8
snap_TX                                  int8
snap_WI                                  int8
event_name_1_Cinco De Mayo            float16
event_name_1_Father's day             float16
event_name_1_MemorialDay              float16
event_name_1_Mother's day             float16
event_name_1_NBAFinalsEnd             float16
event_name_1_NBAFinalsStart           float16
event_name_1_OrthodoxEaster           float16
event_name_1_Pesach End               float16
event_name_1_Ramadan starts           float16
event_name_2_Cinco De Mayo            float16
event_name_2_Father's day             float16
event_name_2_OrthodoxEaster           float16
Event_1                              category
Event_2                              category
group_day                                int8
dtype: object

In [26]:
Cal_DTYPES = {"event_type_1": "category", "event_type_2": "category","weekday": "category",
              "Event_1":"category","Event_2":"category"}

In [27]:
# Apply Label Encoding
for col, col_dtype in Cal_DTYPES.items():
        cal[col] = cal[col].cat.codes.astype("int16")
        cal[col] -= cal[col].min()

In [28]:
cal.tail()

           date  wm_yr_wk  weekday  ...  Event_1  Event_2  group_day
1964 2016-06-15     11620        6  ...        0        0          3
1965 2016-06-16     11620        4  ...        0        0          4
1966 2016-06-17     11620        0  ...        0        0          4
1967 2016-06-18     11621        2  ...        0        0          4
1968 2016-06-19     11621        3  ...       17        3          4

[5 rows x 27 columns]

 <font color='Brown'>**C_3. Price DataFrame Label Encoding**

In [29]:
Price.head()

       store_id      item_id  ...  price_diffrence_4  price_diffrence_8
368746     CA_1  FOODS_1_001  ...                NaN                NaN
368747     CA_1  FOODS_1_001  ...                NaN                NaN
368748     CA_1  FOODS_1_001  ...                NaN                NaN
368749     CA_1  FOODS_1_001  ...                0.0                NaN
368750     CA_1  FOODS_1_001  ...                0.0                NaN

[5 rows x 7 columns]

In [30]:
Price.dtypes

store_id             category
item_id              category
wm_yr_wk                int16
sell_price            float16
price_diffrence_2     float16
price_diffrence_4     float16
price_diffrence_8     float16
dtype: object

In [31]:
PRICE_DTYPES = {"store_id": "category", "item_id": "category" }

In [32]:
# Apply Label Encoding
for col, col_dtype in PRICE_DTYPES.items():
        Price[col] = Price[col].cat.codes.astype("int16")
        Price[col] -= Price[col].min()

In [33]:
Price.head()

        store_id  item_id  ...  price_diffrence_4  price_diffrence_8
368746         0        0  ...                NaN                NaN
368747         0        0  ...                NaN                NaN
368748         0        0  ...                NaN                NaN
368749         0        0  ...                0.0                NaN
368750         0        0  ...                0.0                NaN

[5 rows x 7 columns]

### D. Create Final Dataset

 <font color='Grey'>**D_1. Join Sales And Calander Data**

In [34]:
sales.head()

                              id  item_id  dept_id  ...  d_1967  d_1968  d_1969
0  HOBBIES_1_001_CA_1_evaluation        0        0  ...     NaN     NaN     NaN
1  HOBBIES_1_002_CA_1_evaluation        1        0  ...     NaN     NaN     NaN
2  HOBBIES_1_003_CA_1_evaluation        2        0  ...     NaN     NaN     NaN
3  HOBBIES_1_004_CA_1_evaluation        3        0  ...     NaN     NaN     NaN
4  HOBBIES_1_005_CA_1_evaluation        4        0  ...     NaN     NaN     NaN

[5 rows x 926 columns]

In [35]:
# Convert Sales Data From Wide Fromat to Long Format

Sales_L = pd.melt(sales, 
                  id_vars=[a for a in sales.columns if a.find("id")!=-1],      # If Variable End With id Keyword
                  value_vars=[a for a in sales.columns if a.find("d_")==0],    # If Variable Start With d
                  var_name='d', 
                  value_name='sales')

Sales_L.head()

                              id  item_id  dept_id  ...  state_id       d  sales
0  HOBBIES_1_001_CA_1_evaluation        0        0  ...         0  d_1050    0.0
1  HOBBIES_1_002_CA_1_evaluation        1        0  ...         0  d_1050    0.0
2  HOBBIES_1_003_CA_1_evaluation        2        0  ...         0  d_1050    0.0
3  HOBBIES_1_004_CA_1_evaluation        3        0  ...         0  d_1050    0.0
4  HOBBIES_1_005_CA_1_evaluation        4        0  ...         0  d_1050    0.0

[5 rows x 8 columns]

In [36]:
cal.head()

        date  wm_yr_wk  weekday  ...  Event_1  Event_2  group_day
0 2011-01-29     11101        2  ...        0        0          6
1 2011-01-30     11101        3  ...        0        0          6
2 2011-01-31     11101        1  ...        0        0          6
3 2011-02-01     11101        5  ...        0        0          1
4 2011-02-02     11101        6  ...        0        0          1

[5 rows x 27 columns]

In [37]:
# join Both DataFrame Using Same Columns

Sales_L = Sales_L.merge(cal, on= "d", copy = False)
Sales_L.head()

                              id  item_id  dept_id  ...  Event_1  Event_2  group_day
0  HOBBIES_1_001_CA_1_evaluation        0        0  ...        0        0          3
1  HOBBIES_1_002_CA_1_evaluation        1        0  ...        0        0          3
2  HOBBIES_1_003_CA_1_evaluation        2        0  ...        0        0          3
3  HOBBIES_1_004_CA_1_evaluation        3        0  ...        0        0          3
4  HOBBIES_1_005_CA_1_evaluation        4        0  ...        0        0          3

[5 rows x 34 columns]

In [38]:
Sales_L.shape

(28050800, 34)

 <font color='Grey'>**D_2. Join Sales And Price Data**

In [39]:
Sales_L = Sales_L.merge(Price, on = ["store_id", "item_id", "wm_yr_wk"], copy = False)
Sales_L.head()

                              id  item_id  ...  price_diffrence_4  price_diffrence_8
0  HOBBIES_1_001_CA_1_evaluation        0  ...                0.0               -0.0
1  HOBBIES_1_002_CA_1_evaluation        1  ...                0.0                0.0
2  HOBBIES_1_003_CA_1_evaluation        2  ...                0.0                0.0
3  HOBBIES_1_004_CA_1_evaluation        3  ...                0.0                0.0
4  HOBBIES_1_005_CA_1_evaluation        4  ...                0.0               -0.0

[5 rows x 38 columns]

In [40]:
Sales_L.tail()

                                   id  ...  price_diffrence_8
27023816  FOODS_3_825_WI_3_evaluation  ...                0.0
27023817  FOODS_3_826_WI_3_evaluation  ...                0.0
27023818  FOODS_3_826_WI_3_evaluation  ...                0.0
27023819  FOODS_3_827_WI_3_evaluation  ...                0.0
27023820  FOODS_3_827_WI_3_evaluation  ...                0.0

[5 rows x 38 columns]

In [41]:
Sales_L.shape

(27023821, 38)

In [42]:
Sales_L = downcast(Sales_L)

### E. Lag Features

In [43]:
%%time
# Lag 7 and Lag 28

Sales_L['lag_7'] = Sales_L[["id","sales"]].groupby("id")["sales"].shift(7)
Sales_L['lag_28'] = Sales_L[["id","sales"]].groupby("id")["sales"].shift(28)

CPU times: user 2.7 s, sys: 1.79 s, total: 4.49 s
Wall time: 4.49 s

In [44]:
Sales_L.head()

                              id  item_id  ...  lag_7  lag_28
0  HOBBIES_1_001_CA_1_evaluation        0  ...    NaN     NaN
1  HOBBIES_1_002_CA_1_evaluation        1  ...    NaN     NaN
2  HOBBIES_1_003_CA_1_evaluation        2  ...    NaN     NaN
3  HOBBIES_1_004_CA_1_evaluation        3  ...    NaN     NaN
4  HOBBIES_1_005_CA_1_evaluation        4  ...    NaN     NaN

[5 rows x 40 columns]

### F. Rolling Mean Features

In [45]:
# Time Consuming Process--- Be Patient
%%time

Sales_L['rmean_7_7'] = Sales_L[["id", 'lag_7']].groupby("id")['lag_7'].transform(lambda x : x.rolling(7).mean())

CPU times: user 15min 48s, sys: 4.25 s, total: 15min 52s
Wall time: 15min 53s

In [46]:
%%time

Sales_L['rmean_7_28'] = Sales_L[["id", 'lag_7']].groupby("id")['lag_7'].transform(lambda x : x.rolling(28).mean())

CPU times: user 17min 25s, sys: 19.6 s, total: 17min 45s
Wall time: 17min 45s

In [47]:
%%time

Sales_L['rmean_28_7'] = Sales_L[["id", 'lag_28']].groupby("id")['lag_28'].transform(lambda x : x.rolling(7).mean())

CPU times: user 17min 27s, sys: 13.4 s, total: 17min 41s
Wall time: 17min 41s

In [48]:
%%time

Sales_L['rmean_28_28'] = Sales_L[["id", 'lag_28']].groupby("id")['lag_28'].transform(lambda x : x.rolling(28).mean())

CPU times: user 17min 19s, sys: 1min 8s, total: 18min 28s
Wall time: 18min 28s

### G. Date Related Feature

In [49]:
#https://www.programiz.com/python-programming/methods/built-in/getattr

date_features = {
    
    "wday": "weekday",
    "week": "weekofyear",
    "month": "month",
    "quarter": "quarter",
    "year": "year",
    "mday": "day"
}

In [50]:
for date_feat_name, date_feat_func in date_features.items():
    if date_feat_name in Sales_L.columns:
        # If Feature Present in my DataFrame than only Change DataType
        Sales_L[date_feat_name] = Sales_L[date_feat_name].astype("int16")
    else:
        # If Feature is not Present in my DataFrame than Get The Feature
        Sales_L[date_feat_name] = getattr(Sales_L["date"].dt, date_feat_func).astype("int16")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  import sys

In [51]:
Sales_L.head()

                              id  item_id  dept_id  ...  week  quarter  mday
0  HOBBIES_1_001_CA_1_evaluation        0        0  ...    50        4    13
1  HOBBIES_1_002_CA_1_evaluation        1        0  ...    50        4    13
2  HOBBIES_1_003_CA_1_evaluation        2        0  ...    50        4    13
3  HOBBIES_1_004_CA_1_evaluation        3        0  ...    50        4    13
4  HOBBIES_1_005_CA_1_evaluation        4        0  ...    50        4    13

[5 rows x 47 columns]

In [52]:
Sales_L.shape

(27023821, 47)

In [53]:
Sales_L = downcast(Sales_L)

In [54]:
Sales_L.dtypes

id                                   category
item_id                                 int16
dept_id                                  int8
cat_id                                   int8
store_id                                 int8
state_id                                 int8
d                                    category
sales                                 float16
date                           datetime64[ns]
wm_yr_wk                                int16
weekday                                  int8
wday                                     int8
month                                    int8
year                                    int16
event_type_1                             int8
event_type_2                             int8
snap_CA                                  int8
snap_TX                                  int8
snap_WI                                  int8
event_name_1_Cinco De Mayo            float16
event_name_1_Father's day             float16
event_name_1_MemorialDay              float16
event_name_1_Mother's day             float16
event_name_1_NBAFinalsEnd             float16
event_name_1_NBAFinalsStart           float16
event_name_1_OrthodoxEaster           float16
event_name_1_Pesach End               float16
event_name_1_Ramadan starts           float16
event_name_2_Cinco De Mayo            float16
event_name_2_Father's day             float16
event_name_2_OrthodoxEaster           float16
Event_1                                  int8
Event_2                                  int8
group_day                                int8
sell_price                            float16
price_diffrence_2                     float16
price_diffrence_4                     float16
price_diffrence_8                     float16
lag_7                                 float16
lag_28                                float16
rmean_7_7                             float16
rmean_7_28                            float16
rmean_28_7                            float16
rmean_28_28                           float16
week                                     int8
quarter                                  int8
mday                                     int8
dtype: object

In [55]:
Sales_L.shape

(27023821, 47)

In [56]:
# Save All The Data in Google Drive

from google.colab import  drive
drive.mount('/drive')

Mounted at /drive

In [57]:
Sales_L.to_pickle('/drive/My Drive/Case_Study1/Data_m5.pkl')